body {
    background-image: url("../images/MvC-background.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
}

#logo-img {
    max-width: 80%;
    height: auto;
}

#banner-img {
    width: 60%;
    height: auto;
    
}

#game-content-row {
    display: none;
}

#player-stat-container {
    border: 2px solid black;
    padding: 10px;
}

#player1-img {
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
}

#health-bar {
    max-width: 100%;
    margin: 10px;
}

#tracking-container {

}

#character-container {
    border: 2px solid black;
    height: 99%;
}

#current-character-tiles {
    text-align: center;
}

#guesses-container {
    border: 2px solid black;
    height: 99%;
}

#letters-already-guess-array {

}